<!DOCTYPE html>
</html>
    <head>
        <title>Manthan's Project 1</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%> &nbsp;<a href="/">Home</a></div></h2>
            <div class="page-container">
