<html xmlns="http://www.w3.org/1999/html">
    <head>
        
        <title><%=(locals.title) ? title :''%></title>
    
    </head>
    <body>
    
    <h2>Welcome to Manthan Gajjar's Database Project</h2>
                <a href="/customers"> Customer's Page </a></br>
                <a href="/products"> Products's Page </a></br>
                <a href="/purchases"> Purchase's Page </a></br>
                <a href="/vendors"> Vendor's Page </a>
    </body>

</html>
